<header id="header" class="header">
  <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="d-flex">
                  <p class="logo">Netflixroulette</p>
              </div>
          </div>
      </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="search">
          <h1 class="search__title">
            Find your movies
          </h1>
          <div class="search__intro">
            <lib-header-search></lib-header-search>
          </div>
        </div>
      </div>
    </div>

  </div>

</header>
